<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status1" [(ngModel)]="product.status1" name="Status1">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Status2" [(ngModel)]="product.status2" name="Status2">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Descricao" [(ngModel)]="product.description" name="description">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Link Imagem" [(ngModel)]="product.img" name="description">
        </mat-form-field>
        
    </form>
</mat-card>
<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()" color="warn">
    Cancelar
</button>