<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.svg" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a class="link" routerLink="{{routeUrl}}">
            <i class="material-icons">
                {{icon}}
            </i>
        </a>
       
    </span>
    <span class="title"><a class="link" routerLink="{{routeUrl}}">{{title}}</a></span>
    <span class="espacamento-toolbar"></span>
    <button mat-icon-button>
      <mat-icon (click)="authService.SignOut()">logout</mat-icon>
    </button>
</mat-toolbar>